/*Aggro*/
@font-face {
    font-family: 'SBAggro';
    src: url('./OTSBAggroL.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'SBAggro';
    src: url('./OTSBAggroM.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'SBAggro';
    src: url('./OTSBAggroB.woff') format('woff');
    font-weight: 700;
}