main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(340deg, #ff7eb3 0%, #fad0c4 70%, #ffd1ff 90%);
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 35px;
  max-width: 1600px;
  margin: 0 auto;
}

.item {
  position: relative;
  width: calc(25% - 15px);
  text-align: center;
  background: rgba(255,255,255,0.5);
  border-radius: 20px;
  padding: 40px 20px 65px;
}

.item__img img {
  max-width: 65%;
  min-width: 140px;
  transition: 0.3s;
}

.item__img:hover img {
  transform: scale(1.1);
}

.item__name {
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  font-size: 24px;
  white-space: nowrap;
}

.item__name strong {
  font-weight: 500;
  margin-left: 4px;
}

.item__likes {
  position: absolute;
  top: 15px;
  right: 30px;
  background: #f33d4a;
  padding: 4px 14px;
  border-radius: 4px;
  min-width: 80px;
}

.likes__btn img {
  vertical-align: middle;
}

.likes__count {
  vertical-align: middle;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-left: 6px;
}

@media all and (max-width: 1024px) {
  .item { 
    padding: 40px 15px;
  }

  .item__name {
    font-size: 20px;
  }
  
  .item__likes {
    top: 12px;
    right: 18px;
    padding: 4px 10px;
    min-width: 60px;
  }
  
  .likes__count {
    font-size: 14px;
    vertical-align: bottom;
  }
}

@media all and (max-width: 768px) {
  .character-list {
    padding: 20px;
  }

  .item { 
    width: calc(50% - 10px);
  }

  .item__name {
    font-size: 18px;
  }
}

@media all and (max-width: 380px) {
  .item { 
    width: 100%;
  }
}